{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@api": "./src/api",
          "@hooks": "./src/hooks",
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@const": "./src/const",
          "@type": "./src/type"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "fileName": true,
        "displayName": true,
        "pure": true
      },
      "@babel/plugin-styled-components"
    ]
  ]
}
